@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes changeBackground {
    0% {
        box-shadow: 0 0 14px rgb(4, 39, 39);
    }
    50% {
        box-shadow: 0 0 14px rgb(11, 13, 104);
    }
    100% {
       box-shadow: 0 0 14px #0c1c3b;
    }
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(90deg, #3c5ba2 0%, #182848 100%);
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 150px 500px;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    max-height: 400px;
    background-color: #112d65;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 0 15px rgba(54, 47, 47, 0.2);
    animation: changeBackground 3s infinite linear;
}
.container h2 {
    font-size: 34px;
    padding: 0px;
    color: #fff;
    padding: 0px 40px;
}
.amount {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 0px 20px; */
    color: #fff;
    text-shadow: 0 0 3px #fff;
    font-size: 18px;
    border: none;
    outline: none;
    gap: 10px;
}
.amount input {
    width: 370px;
    height: 40px;
    border: none;
    outline: none;
    /* padding: 0px 0px 0px; */
    border-radius: 6px;
    font-size: 20px;
    box-shadow: 0 0 18px rgb(62, 59, 59);
}
.fromto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.from {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #fff;
    text-shadow: 0 0 3px #fff;
}
.from #from {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
#change {
    border: none;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 18px rgb(62, 59, 59);
    margin-top: 24px;
}
#change:hover {
    transform: scale(1.03);
    transition: 1s;
    box-shadow: 0 0 8px rgb(164, 152, 152), 0 0 8px rgb(62, 59, 59), 0 0 8px rgb(62, 59, 59);
}
.to {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #fff;
    text-shadow: 0 0 3px #fff;
}
.to #to {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
