@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes changeBackground {
    0% {
        box-shadow: 0 0 14px rgb(4, 39, 39);
    }
    50% {
        box-shadow: 0 0 14px rgb(11, 13, 104);
    }
    100% {
       box-shadow: 0 0 14px #0c1c3b;
    }
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(90deg, #3c5ba2 0%, #182848 100%);
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 150px 500px;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    max-height: 400px;
    background-color: #112d65;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 0 15px rgba(54, 47, 47, 0.2);
    animation: changeBackground 3s infinite linear;
}
.amount {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 8px;
    outline: none;
}